{{- if .Values.ciliumNetworkPolicy.enabled -}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ include "app.name" . }}
spec:
  endpointSelector:
    matchLabels:
      {{- include "app.labelselector" . | nindent 6 }}

  ingress:
  - fromEndpoints:
    - matchLabels:
        k8s:io.kubernetes.pod.namespace: {{ .Release.Namespace }}
        {{- include "app.labelselector" . | nindent 8 }}

    {{- $defaultFromApp := dict "namespace" $.Release.Namespace }}
    {{- range .Values.ciliumNetworkPolicy.fromApps }}
    {{- $fromApp := merge . $defaultFromApp }}
    - matchLabels:
      {{- range $key, $val := $fromApp }}
        {{- if (eq $key "namespace") }}
        k8s:io.kubernetes.pod.namespace: {{ $val }}
        {{- else if (eq $key "name") }}
        app.kubernetes.io/app: {{ $val }}
        {{- else }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}
    {{- end }}

    {{- if .Values.global.ingress.enabled }}
    - matchLabels: {{ toYaml .Values.ciliumNetworkPolicy.ingressControllerEndpointMatchLabels | nindent 8 }}
    {{- end }}
    toPorts:
    - ports:
      {{- range $portName, $portSpec := .Values.ports }}
      {{- if $portSpec.expose }}
      - port: {{ $portSpec.port | quote }}
        protocol: {{ $portSpec.protocol }}
      {{- end }}
      {{- end }}

  - fromEndpoints:
    - matchLabels: {{ toYaml .Values.ciliumNetworkPolicy.observabilityAgentEndpointMatchLabels | nindent 8 }}
    toPorts:
    - ports:
      {{- $portName := .Values.metricsEndpoint.port }}
      {{- $portSpec := get .Values.ports $portName }}
      - protocol: {{ $portSpec.protocol }}
        port: {{ $portSpec.port | quote }}

  {{- range .Values.ciliumNetworkPolicy.ingress }}
  - {{ toYaml . | nindent 4 | trim }}
  {{- end }}

  egress:
  - toEndpoints:
    - matchLabels:
        k8s:io.kubernetes.pod.namespace: kube-system
        k8s-app: kube-dns
    toPorts:
    - ports:
      - port: "53"
        protocol: ANY
      rules:
        dns:
        - matchPattern: "*"

  {{- with .Values.ciliumNetworkPolicy.toApps }}
  - toEndpoints:
    {{- $defaultToApp := dict "namespace" $.Release.Namespace }}
    {{- range . }}
    {{- $toApp := merge . $defaultToApp }}
    - matchLabels:
      {{- range $key, $val := $toApp }}
        {{- if (eq $key "namespace") }}
        k8s:io.kubernetes.pod.namespace: {{ $val }}
        {{- else if (eq $key "name") }}
        app.kubernetes.io/app: {{ $val }}
        {{- else }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $s3Enabled := .Values.infra.s3Bucket.enabled }}
  {{- $bedrockEnabled := .Values.infra.bedrock.enabled }}
  {{- $eventbridgeEnabled := .Values.infra.eventing.producer.enabled }}
  {{- $sqsEnabled := .Values.infra.eventing.consumer.enabled }}
  {{- $dynamodbEnabled := (not (empty (.Values.infra.dynamodb.tables ))) }}
  {{- $kinesisEnabled := .Values.infra.kinesis.enabled }}
  {{- $opensearchEnabled := .Values.infra.opensearch.enabled }}
  {{- $natsEnabled := .Values.infra.nats.enabled }}
  {{- if or $s3Enabled $bedrockEnabled $eventbridgeEnabled $sqsEnabled $dynamodbEnabled $kinesisEnabled $opensearchEnabled }}
  - toFQDNs:
    - matchPattern: "sts.amazonaws.com"
    - matchPattern: "sts.*.amazonaws.com"
    {{- if $s3Enabled }}
    - matchPattern: "s3.*.amazonaws.com"
    - matchPattern: "s3.dualstack.*.amazonaws.com"
    - matchPattern: "s3-fips.*.amazonaws.com"
    - matchPattern: "s3-fips.dualstack.*.amazonaws.com"
    - matchPattern: "*.s3.*.amazonaws.com"
    - matchPattern: "*.s3.amazonaws.com"
    {{- end }}
    {{- if $bedrockEnabled }}
    - matchPattern: "bedrock.*.amazonaws.com"
    - matchPattern: "bedrock-runtime.*.amazonaws.com"
    {{- end }}
    {{- if $eventbridgeEnabled }}
    - matchName: "events.{{ .Values.global.aws.region }}.amazonaws.com"
    {{- end }}
    {{- if $sqsEnabled }}
    - matchName: "sqs.{{ .Values.global.aws.region }}.amazonaws.com"
    {{- end }}
    {{- if $dynamodbEnabled }}
    - matchPattern: "dynamodb.{{ .Values.global.aws.region }}.amazonaws.com"
    - matchPattern: "*.ddb.{{ .Values.global.aws.region }}.amazonaws.com"
    {{- end }}
    {{- if $kinesisEnabled }}
    - matchName: "kinesis.{{ .Values.global.aws.region }}.amazonaws.com"
    - matchName: "kinesis.{{ .Values.global.aws.region }}.api.aws"
    {{- end }}
    {{- if $opensearchEnabled }}
    - matchPattern: "*.{{- .Values.global.aws.region -}}.aoss.amazonaws.com"
    {{- end }}
    toPorts:
    - ports:
      - port: "443"
        protocol: TCP

  {{- end }}
  {{- if .Values.infra.redis.enabled }}
  - toFQDNs:
    - matchPattern: "*.serverless.euw1.cache.amazonaws.com"
    toPorts:
    - ports:
      - port: "6379"
        protocol: TCP
      - port: "6380"
        protocol: TCP

  {{- end }}
  {{- if .Values.infra.postgres.enabled }}
  - toFQDNs:
      - matchPattern: {{ default (include "app.aws.name" .) .Values.infra.postgres.nameOverride }}.*.*.rds.amazonaws.com
    toPorts:
      - ports:
          - port: "5432"
            protocol: TCP

  {{- end }}
  {{- if $natsEnabled }}
  - toEndpoints:
      - matchLabels:
          app.kubernetes.io/name: {{ .Values.infra.nats.name }}
          k8s:io.kubernetes.pod.namespace: {{ .Values.infra.nats.namespace }}
    toPorts:
      - ports:
          - port: {{ .Values.infra.nats.port | quote }}
            protocol: TCP

  {{- end }}
  {{- with .Values.ciliumNetworkPolicy.externalHttpsServices }}
  - toFQDNs:
    {{- range . }}
    - matchName: {{ . }}
    {{- end }}
    toPorts:
    - ports:
      - port: "443"
        protocol: TCP

  {{- end }}

  {{- range .Values.ciliumNetworkPolicy.egress }}
  - {{ toYaml . | nindent 4 | trim }}
  {{- end }}
{{- end }}
